.Header {
  height: 55vh;
  //   height: 505px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  color: white;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../imgs/header.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
  }

  .main-header {
    text-align: center;
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    button {
      font-size: 1.5rem;
      padding: 0.8rem 2rem;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
