.main-container {
  //   max-width: @max-width;
  max-width: 1500px;
  margin: 0 auto;
  //   border: 1px solid red;
  //   color: @dark;

  //   @media @small-computer {
  //     padding: 0 1rem;
  //   }

  .section {
    margin: 9rem 0;

    //  @media @paddings {
    //    margin: 5rem 0;
    //  }

    h2 {
      text-align: center;
      font-size: 2.3rem;

      // @media @paddings {
      //   font-size: 2.1rem;
      // }

      // @media @sm-phone {
      //   font-size: 1.8rem;
      // }

      // @media @xsm-phone {
      //   font-size: 1.5rem;
      // }
    }

    .section-one {
      margin-top: 3rem;
      // .flexProps(space-between);
      @include flex(space-between);

      // @media @small-computer {
      //   flex-wrap: wrap;
      //   justify-content: center;
      // }

      padding: 6rem 0 1rem;
      border-radius: 10px;
      background: rgb(252, 252, 252);
      box-shadow: 0px 2px 14px -2px rgb(181, 175, 175);

      // @media @paddings {
      //   padding: 3rem 0 1rem;
      // }

      .left-side {
        margin: 0 1rem;
        padding-right: 0;
        width: 75%;
        //   @media @small-computer {
        //     padding-right: 0;
        //   }
        //   p {
        //     @media @sm-phone {
        //       font-size: 1.1rem;
        //     }
        //   }
      }

      .img-container {
        //   background: url("../imgs/section.jpg");
        @include bg-properties("../imgs/section.jpg");
        //   .imgProps();
        border-radius: 50%;
        margin: 0 1rem;
        width: 300px;
        height: 300px;
        margin-top: -5rem;

        //   @media @small-computer {
        //     width: 300px;
        //     height: 300px;
        //     margin-top: 1rem;
        //   }

        //   @media @phone {
        //     width: 250px;
        //     height: 200px;
        //   }
      }
    }
  }

  .section-two {
    h2 {
      text-align: center;
      font-size: 2.2rem;
      margin-bottom: 3rem;
      // @media @paddings {
      //   font-size: 2rem;
      // }

      // @media @sm-phone {
      //   font-size: 1.8rem;
      // }
      // @media @xsm-phone {
      //   font-size: 1.5rem;
      // }
    }

    .section-two-container {
      // .flexProps(space-between);
      @include flex(space-between);
      padding: 0 1rem;
      border-radius: 10px;
      background: rgb(252, 252, 252);
      box-shadow: 0px 2px 14px -2px rgb(181, 175, 175);

      // @media @seven-hd {
      //   flex-wrap: wrap;
      // }
      // @media @phone {
      //   justify-content: center;
      // }

      .logo {
        margin: 5rem 0;
        width: 30%;
        text-align: center;

        //   @media @seven-hd {
        //     width: 50%;
        //   }

        //   @media @phone {
        //     width: 90%;
        //   }

        //   @media @paddings {
        //     margin: 3rem 0;
        //   }
        //   @media @sm-phone {
        //     margin: 1rem 0;
        //   }

        div {
          font-size: 3rem;
          // @media @sm-phone {
          //   font-size: 2.8rem;
          // }
          // @media @xsm-phone {
          //   font-size: 2.5rem;
          // }
        }

        p {
          padding: 1rem 0 0.5rem;
          font-weight: bold;
          font-size: 1.3rem;
          //  @media @sm-phone {
          //    font-size: 1.2rem;
          //  }

          //  @media @xsm-phone {
          //    font-size: 1.1rem;
          //  }
        }

        span {
          font-size: 1rem;
        }
      }
    }
  }

  .section-three {
    margin: 9rem 0;

    //  @media @paddings {
    //    margin: 5rem 0;
    //  }

    h2 {
      text-align: center;
      font-size: 2.2rem;
      margin-bottom: 3rem;

      // @media @paddings {
      //   font-size: 2rem;
      // }
      // @media @sm-phone {
      //   font-size: 1.8rem;
      // }
      // @media @xsm-phone {
      //   font-size: 1.5rem;
      // }
    }

    .section-three-container {
      // .flexProps(space-between);
      @include flex(space-between);

      // @media @tablet {
      //   flex-wrap: wrap;
      // }
      // @media @seven-hd {
      //   justify-content: center;
      // }

      h2 {
        text-align: start;
        font-size: 1.6rem;
        margin-bottom: 0;

        //   @media @xsm-phone {
        //     font-size: 1.4rem;
        //   }
      }

      .subscripions {
        padding: 1rem 1rem 2.5rem;
        width: 32%;
        height: 45vh;
        border-radius: 10px;
        background: rgb(252, 252, 252);
        box-shadow: 0px 2px 14px -2px rgb(181, 175, 175);

        //   @media @tablet {
        //     width: 43%;
        //     margin-bottom: 1rem;
        //   }

        //   @media @seven-hd {
        //     width: 70%;
        //   }
        //   @media @phone {
        //     width: 90%;
        //   }

        //   @media @sm-phone {
        //     height: 77vh;
        //   }

        //   @media @xsm-phone {
        //     height: 100vh;
        //   }

        .month-free {
          border: 1px solid #73c328;
          padding: 0.4rem 1rem;
          background: #73c328;
          color: $white;
          border-radius: 4px;
          font-size: 1rem;
          margin-bottom: 0.7rem;
        }

        h2 {
          margin-top: 1rem;
        }

        .t-b-container {
          height: 70%;
          //  .flexProps(space-between);
          @include flex(space-between);
          flex-direction: column;
        }

        .bottom-border {
          margin-bottom: 1.5rem;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid rgb(181, 175, 175);
          //  @media @xsm-phone {
          //    font-size: 1.3rem;
          //  }
          //  @media @xsm-phone {
          //    font-size: 1rem;
          //  }
        }

        p {
          font-size: 1.1rem;
          //  @media @xsm-phone {
          //    font-size: 1rem;
          //  }
        }

        .checkmark {
          font-weight: 100;
          margin-right: 1rem;
          font-size: 1.4rem;
          //  @media @xsm-phone {
          //    font-size: 1.1rem;
          //  }
        }

        .btn-container {
          //  .flexProps(center);
          @include flex(center);
          button {
            // .btnStyle(70%);
            margin: 0 auto 1rem;
            text-transform: uppercase;
            font-size: 1rem;
            display: inline-block;
            padding: 0.7rem 2.5rem;
            font-size: 1.2rem;
            border-radius: 10px;
            background: #73c328;
            color: white;
            cursor: pointer;
            text-transform: capitalize;
            outline: none;
            border: 1px solid #73c328;
            width: 70%;

            // @media @xsm-phone {
            //   font-size: 0.7rem;
            // }
          }
        }

        .terms {
          font-size: 0.8rem;
          color: grey;
          //  @media @xsm-phone {
          //    font-size: 0.6rem;
          //  }
        }
        .terms a {
          font-size: 0.8rem;
          color: grey;
          text-decoration: underline;
          //  @media @xsm-phone {
          //    font-size: 0.6rem;
          //  }
        }
      }
    }
  }
}
