@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500|Open+Sans:400,600|Raleway&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}
