@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  //   color: red;
}

// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
  //   font-family: "Lato", sans-serif;
  color: #333;
}

button {
  outline: none;
  display: inline-block;
  border: none;
}
