.MobileNavbar {
  width: 280px;
  background: #333;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  //   border: 1px solid red;
  height: 100vh;
  transition: all 0.5s ease;
  transform: translate(350px);
  z-index: 100;

  // add when click
  &.show {
    transform: translate(0px);
  }

  nav {
    //  border: 1px solid blue;
    @include flex(center);
    flex-direction: column;
    margin-top: 12rem;

    a {
      // border: 1px solid blue;
      display: block;
      width: 100%;
      // margin-bottom: 1rem;
      text-align: center;
      margin: 0 auto 0.6rem;
      color: $white;
    }

    .active {
      color: $green;
    }
  }
}

.burger-menu {
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  transition: transform 0.8s ease;
  z-index: 5000;

  @media (max-width: $sm-tablet) {
    display: block;
  }

  // when cllick again
  &.close {
    //  background: #333;
    transform: rotate(180deg);
    transition: all 1s ease;

    .lines {
      background: #333;
      background: $white;

      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -9px);
      }
    }
  }

  .lines {
    padding: 2px 4px;
    margin: 6px 0;
    background: $white;
    width: 40px;
    border-radius: 2px;
    transition: all 0.7s ease;

    //  @media @phone {
    //    width: 35px;
    //  }
  }
}
