.navbar-wrapper {
  width: 100%;
  z-index: 100;
  //   border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease;

  .Navbar {
    //  border: 1px solid red;
    @include flex(space-between);
    align-items: center;
    padding: 1rem;
    max-width: $mx-width;
    margin: 0 auto;

    // without logo
    //  align-items: center;
    //  height: 7vh;

    @media (max-width: $tablet) {
      max-width: 1100px;
    }
    //  position: fixed;
    //  top: 0;
    //  left: 0;
    //  right: 0;
    //  z-index: 100;
    //  background: #f4f4f4;

    .logo-wrapper {
      color: $white;
      display: flex;
      align-items: center;
      img {
        width: 70px;
        height: 70px;

        @media (max-width: $sm-tablet) {
          width: 70px;
          height: 70px;
          margin-top: 0.5rem;
        }
      }
      @media (max-width: $sm-tablet) {
        padding-left: 1.5rem;
      }

      h2 {
        margin-left: 1rem;
        font-size: 1.4rem;
        //   font-weight: 500;

        @media (max-width: $phone) {
          display: none;
        }
      }
    }

    .links {
      // border: 1px solid red;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      a {
        padding: 0.3rem 1rem;
        // border: 1px solid blue;
        margin-left: 0.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;

        //withut logo
        color: $white;

        @media (max-width: $sm-tablet) {
          display: none;
        }

        //   &:last-child {
        //     //   color: blue;
        //     padding-right: 0.5;
        //   }
      }
      .button {
        @media (max-width: $sm-tablet) {
          display: none;
        }
      }

      // .active {
      //   color: $green;
      // }
    }
  }
}

// scrolling navbar class

.scroll-color {
  //   background: rgba(0, 0, 0, 0.9);
  //   background: rgba(67, 92, 53, 0.9);
  background: rgba(115, 195, 40, 0.8);
  transition: all 0.5s ease;
  //   padding: 0.5rem 0;

  .Navbar {
    .logo-wrapper {
      img {
        width: 65px;
        height: 65px;
      }
    }
    .links {
      a {
        font-size: 1.1rem;
        //   color: $green;
        //   padding: 0.3rem 1rem;
      }

      // .active {
      //   //   border: 2px solid #e6db14;
      //   //   color: #333;
      //   //   border-radius: 4px;
      // }

      button {
        font-size: 1.1rem;
        color: $green;
      }
    }
  }
}
