$tablet: 1500px;
$sm-tablet: 1000px;
$md-phone: 1260px;
$m-tablet: 1050px;
$xs-tablet: 950px;
$seven-hd: 700px;
$phone: 500px;
$small-phone: 414px;
$xsm-phone: 360px;
$xs-phone: 320px;

$padding: 870px;

$mx-width: 1500px;

$white: #f4f4f4;

$green: #73c328;
$yellow: #e6db14;

$bg-rgba: rgba(0, 0, 0, 0.5);

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin bg-properties($url) {
  background: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin buttons($bg-color, $color) {
  display: inline-block;
  padding: 0.3rem 1.3rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: $bg-color;
  color: $color;
  border-radius: 4px;
}

// @max-width: 1500px;
// @font-p-s: 1.2rem;
// @space-bt-section: 9rem;
// @space-bt-h2: 3rem;
// @main-font: "Open Sans", sans-serif;
// @logo-color: #73c328;
// @white: #f4f4f4;
// @dark: #333;
// @border-color: rgb(181, 175, 175);

// @h-font: "Montserrat", sans-serif;

// @nav-width: ~"(max-width: 1970px)";
// @small-computer: ~"(max-width: 1500px)";
// @tablet: ~"(max-width: 1050px)";
// @paddings: ~"(max-width: 870px)";
// @seven-hd: ~"(max-width: 700px)";
// @phone: ~"(max-width: 500px)";
// @sm-phone: ~"(max-width: 414px)";
// @xsm-phone: ~"(max-width: 360px)";
// @xxsm-phone: ~"(max-width: 320px)";

// .btnStyle(@width) {
//   display: inline-block;
//   padding: 0.7rem 2.5rem;
//   font-size: @font-p-s;
//   border-radius: 10px;
//   background: @logo-color;
//   color: white;
//   cursor: pointer;
//   text-transform: capitalize;
//   outline: none;
//   border: 1px solid @logo-color;
//   width: @width;
// }

// .flexProps(@justify) {
//   display: flex;
//   justify-content: @justify;
// }

// .imgProps() {
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }
